/* body[data-theme="dark"] {
    background-color: #000000;
    color: #fff;
}

body[data-theme="light"] {
    background-color: #fff;
    color: #060505;
} */


.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar-inner {
  background-color: #1c3b33; /* Deep green like your image */
  border-radius: 50px;
  transition: all 0.3s ease;
}

.logo-circle {
  border: 2px solid #fff;
}

[data-theme='dark'] .navbar-inner {
  background-color: #0f1f1b;
}

[data-theme='dark'] a {
  color: #f1f5f9;
}

[data-theme='dark'] a:hover {
  color: #facc15;
}
